header{
    position: relative;
    height: 450px;
    img{
        width: 95%;
        height: auto;
        border-radius: 15px;
        margin: 25px;
    }
    h1, p{
        color: white;
        position: relative;
        top: -250px;
        left: 385px;
        font-size: 50px;
    }
    p{
        top: -285px;
        left: 430px;
        font-size: 20px;
    }
}